.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #8adaa9;
}

table {
  color: rgb(32, 29, 44);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dad8d8;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.spaceDebris {
    background-color: rgba(207, 82, 82, 0.918);
}